
.header{
    
    position:relative;
    clear:both;
    width:960px;
    height:100px;
    padding:0px 0px 0px 0px;
    margin:0px auto;
    /* margin-bottom:0; */
    text-align: center;
    
}


h1{
    position: absolute;
    left:0;
    bottom: 0;
    font-family:'Georgia', Times, Times New Roman, serif;
    margin:0;
    margin-block-start: 0;
    color: white;
    padding: 10px 10px 10px 10px;
    float: left;
    background-color: #4aaaa5;
  
  
}

.about,.contact,.portfolio{
    padding:10px 0px 10px 20px;

    text-decoration: none;
}
.nav{
    padding:10px 0px 10px 20px;
    float:right;
    font-family:'Georgia', Times, Times New Roman, serif;
    
    position: absolute;
    right:0;
    bottom: 0;

}

.wrapper{
    clear:both;
    border-top:1px solid #4aaaa5;
    position:relative;
    background-color: aliceblue;
    margin-bottom: 0px;
    height:450px;
    color:#777777;
    padding:50px;
    background-image: url('../images/email-pattern.png');
    background-size: 100%;
    background-repeat: repeat;
}
.content{
    width:960px;
    height: 480px;
    padding:0px;
    margin:0px auto;
    background:white;
}


.paragraph{

    float:left;
    /* width:960px; */
    padding:20px;
    margin:0px;
    border-top: 1px solid #6a29d1;

}
.photo{
    
    margin-right:10px;
    
    
    float:left;
}
p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
}
h2{
    float: left;
    color: #4aaaa5;
    padding:10px;
    margin-left: 0px;
    margin-right:10px;
    margin-bottom: 10px;
}
.footer{
   
   height:50px;
    background: gray;
    border-top: 8px solid #4aaaa5;
    margin:0 auto;
   
}

.footer p {
    margin-top: 10px;
    text-align: center;

}

.portfolio-image {
    /* background-size:cover; */
    height: 150px;
    width: 250px;
    margin-bottom:20px;
    float:left;
    margin-right:30px;
}
.portfoliop1 {
   background-image: url("../images/portfoliop1.jpg");
   
}
.portfoliop2 {
    background-image: url("../images/pp2.jpg");
    
 }
.portfoliop3 {
    background-image: url("../images/pp3.jpg");
   
 }
.portfoliop4 {
    background-image: url("../images/pp4.jpg");
    
 }
 .portfoliop5 {
    background-image: url("../images/pp5.jpg");
   
 }



.profile{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    margin-top: 110px;
    padding:10px;
}
h3{
    float:left;
    width:100%;
}
textarea{
    float:left;
    width:80%;
}

.submit-button{
    float:left;
    background-color: #4aaaa5;
    color:white;
    clear: both;
    margin-top: 20px;
}

.message-box{
    height: 100px;
}



.contact-container {
    padding: 10px;
}